<launch>
    <node pkg="narf_place_recognition" type="bag_to_dataset" name="bag_to_dataset" output="screen">
        <param name="bagFiles" type="string" value="/home/smichaud/Datasets/PlaceRecognition/SickForest/2015-06-10-10-56-07.bag /home/smichaud/Datasets/PlaceRecognition/SickForest/2015-06-10-11-26-14.bag"/>
        <param name="outputPath" type="string" value="/home/smichaud/Datasets/PlaceRecognition/SickForest/OutputMerged1/"/>
        <param name="icpConfigPath" type="string" value="/home/smichaud/Workspace/NarfDadasetGeneration/narf_place_recognition/config/sick_icp.yaml"/>
        <param name="cloudTopic" type="string" value="/cloud"/>
        <param name="poseTopic" type="string" value="/robot_pose_ekf/odom_combined"/>
        <param name="isOdomOutput" type="bool" value="false"/>
    </node>
</launch>
